@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
:root {
    --col-primary: #73264d;
    --col-background-primary: #2c0d1d;
    --col-background-secondary: #262626;
    --col-selected-text: white;
    --col-banner-text: #d682ac;
    --col-box-primary: #222222;
    --col-box-secondary: #141414;
    --col-regular-text: #b6b5b5;
    --shadow: 0px 1px 40px black;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    /* overflow: hidden; */
}

code {
    font-family: "Poppins", sans-serif;
}


/* SCROLLBAR */


/* width */

::-webkit-scrollbar {
    width: 16px;
}


/* Track */

::-webkit-scrollbar-track {
    opacity: 100%;
    background: var(--col-box-secondary);
    border-radius: 8px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--col-primary);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: var(--col-banner-text);
}


/* make this a separate componenet to blend the triangle edge */

.page {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background: linear-gradient( to bottom left, var(--col-background-secondary) 0%, var(--col-background-secondary) 50%, var(--col-background-primary) 50%, var(--col-background-primary) 100%);
}

.title-text {
    font-weight: 600;
    color: var(--col-selected-text);
}

.banner {
    /* opacity: 70%; */
    position: relative;
    background-color: var(--col-primary);
    overflow: hidden;
    color: var(--col-banner-text);
    width: 100%;
    justify-items: center;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
    box-shadow: var(--shadow);
    z-index: 2;
}

.banner-line {
    margin-left: 15px;
    border-right-style: solid;
    border-right-color: var(--col-background-primary);
    /* margin-top: 20px; */
    /* height: 50px; */
}

.unselectable-text {
    user-select: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
}

.banner-text {
    cursor: pointer;
    font-weight: 900;
    margin: 0;
}

.banner-text:hover {
    color: var(--col-selected-text);
}

.external-link {
    color: var(--col-regular-text);
}


/* find another way to do this */

.banner-text-selected {
    color: var(--col-selected-text);
}

.scroll-content {
    overflow-y: auto;
    width: 100vw;
    position: fixed;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 10;
    padding: 120px 16vw 10vh 16vw;
    /* overflow: hidden; */
    /* display: grid; */
}

.icon {
    /* user-drag: none; */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.close-overlay {
    position: relative;
    width: 50px;
    height: 50px;
    left: 105%;
    top: 70px;
    margin: auto;
    text-align: center;
    filter: brightness(0) invert(1);
}

.close-overlay:hover {
    filter: brightness(0) invert(1) drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.5));
}

.homepage-grid {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-left: 20vw;
    padding-right: 20vw;
    row-gap: 100px;
    column-gap: 50px;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    /* grid-template-rows: repeat(3, 1fr);1 */
    grid-auto-rows: auto 1fr;
}

.home-title-display {
    color: var(--col-banner-text);
    font-size: 30px;
    text-align: center;
    margin: 30vh 25vw 30vh 25vw;
}

.technology-home-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    grid-auto-columns: max-content;
    grid-auto-rows: auto;
    /* grid-template-rows: repeat(3, 1fr); */
}

li:not(:last-child) {
    margin-bottom: 8px;
}

.subject {
    background-color: var(--col-box-primary);
    padding: 10px;
    border-radius: 20px;
}

.subject>h4 {
    font-size: 15px;
}

.profile-picture {
    align-self: center;
    width: 250px;
    height: 250px;
}

.panel-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 12vw;
    /* Make these a variable */
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
}

.panel {
    display: flex;
    color: var(--col-regular-text);
}

.clickable:hover {
    cursor: pointer;
}

.panel-footer {
    background-color: var(--col-box-primary);
}

.page-title {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

.panel-content {
    text-align: center;
}

.panel-text {
    text-align: left;
    text-justify: inter-word;
    font-size: 24px;
}

.panel-padding {
    padding-left: 30px;
    padding-right: 30px;
}

.title-panel-container {
    width: 50%;
    margin: auto;
    padding-top: 50px;
}

.contact-list {
    display: flex;
    width: 500px;
    margin: auto;
    flex-direction: column;
    row-gap: 40px;
    padding-bottom: 2%;
    /* padding-left: 15%;
    padding-right: 15%; */
    padding-top: 6%;
    /* width: 20vw; */
}

.contact-icon {
    text-align: center;
    width: 50px;
    filter: invert(67%) sepia(0%) saturate(2275%) hue-rotate(59deg) brightness(103%) contrast(105%);
}

.white {
    filter: brightness(0) invert(1);
}

.contact-info {
    /* display: table-cell; */
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    text-align: center;
    font-size: 22px;
}

* {
    box-sizing: border-box;
}


/* Set a background color */

body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
}


/* The actual timeline (the vertical ruler) */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    /* background: rgba(0, 0, 0, 0.85); */
    /* padding-right: 10px; */
    /* margin-top: 2%; */
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    /* height: 50vh; */
    /* overflow-y: scroll; */
}


/* The actual timeline (the vertical ruler) */

.timeline-line {
    content: "";
    position: absolute;
    width: 6px;
    background-color: var(--col-primary);
    left: 50%;
    /* transform: translate(-8px); */
    margin-left: -3px;
    z-index: 1;
    height: 100%;
}


/* Container around content */

.timeline-element-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    left: 0;
}

.timeline-element-container:nth-of-type(even) {
    left: 50%;
}

.timeline-element-container:nth-of-type(even)>.ball {
    left: 0;
    transform: translate(-12px, 0px);
}


/* The circles on the timeline */

.ball {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 20px;
    left: calc(50% - 12px);
    background-color: var(--col-primary);
    border: 4px solid var(--col-primary);
    border-radius: 50%;
    z-index: 1;
    left: 100%;
    transform: translate(-12px, 0px);
}

.year-label {
    width: 80px;
    text-align: center;
    color: var(--col-selected-text);
    margin: auto;
    background-color: var(--col-banner-text);
    z-index: 2;
}

.year-label>h3 {
    margin: 5px;
}


/* The actual content */

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}